<!-- <header>
    <h1>Bienvenidos a nuestra tienda</h1>
    <nav>
        <% if (session.userId) { %>
            <a href="/carrito">Carrito (<%= session.carrito.length %>)</a>
            <a href="/logout">Cerrar sesión</a>
        <% } else { %>
            <a href="/login">Iniciar sesión</a>
            <a href="/register">Registrarse</a>
        <% } %>
    </nav>
</header> -->